<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css" />
  <title><%= title %></title>
</head>
<body>
  <main>
    <h1><%= title %></h1>

   
    <h2>Dodaj kategorię</h2>
    <form action="/formularz/kategoria/dodaj" method="POST">
      <label>ID kategorii:</label><br>
      <input type="text" name="id" required><br>
      <label>Nazwa kategorii:</label><br>
      <input type="text" name="name" required><br>
      <button type="submit">Dodaj kategorię</button>
    </form>

    <h2>Dodaj hasło</h2>
    <form action="/formularz/haslo/dodaj" method="POST">
      <label>Wybierz kategorię:</label><br>
      <select name="categoryId" required>
        <% kategorie.forEach(cat => { %>
          <option value="<%= cat.id %>"><%= cat.name %></option>
        <% }) %>
      </select><br>
      <label>Hasło:</label><br>
      <input type="text" name="text" required><br>
      <button type="submit">Dodaj hasło</button>
    </form>

    <h2>Edycja hasła</h2>
    <% kategorie.forEach(cat => { %>
      <h3>
        <%= cat.name %>
      </h3>
      <ul>
        <% cat.words.forEach(word => { %>
          <li>
            <form style="display:inline;" method="POST" action="/formularz/haslo/edytuj">
              <input type="hidden" name="id" value="<%= word.id %>">
              <input type="hidden" name="categoryId" value="<%= cat.id %>">
              <input type="text" name="text" value="<%= word.text %>" required>
              <button type="submit">Edytuj</button>
            </form>

            <form style="display:inline;" method="POST" action="/formularz/haslo/usun">
              <input type="hidden" name="id" value="<%= word.id %>">
              <button type="submit">Usuń</button>
            </form>
          </li>
        <% }) %>
      </ul>
    <% }) %>

    <br>
    <a href="/hasla">Powrót do listy kategorii</a><br>
    <a href="/">Powrót do strony głównej</a>
  </main>
</body>
</html>